#searchsection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#searchsection #searchbox{
    width:400px;
    height:30px;
    border-radius:5px;
    background-color: black;
    border:2px solid white;
    color:green;
    font-size: 18px;;
}

#searchsection #sbutton{
    height:30px;
    border-radius:5px;
    background-color: black;
    color:green;
    border:2px solid white;
}
#searchsection #sbutton:hover{
    background-color: green;
    color:black;
}
#searchsection .card{
    /* display :none; */
    margin-left: 50px;
}
.plantcards{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}
.card img{
    width:150px;
    height:150px;
    border:2px solid white;
}
.card{
    display :flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:350px;
    height:350px;
    border:5px solid green;
    border-radius:18px;
    margin:12px;
}
h1{
    text-align: center;
}